{% extends 'shop/base.html' %}
{% load static thumbnail %}
{% block content %}
<div class="profile-section">
    <div class="card">
        <div class="card-body">
            <h1>Профіль користувача {{ user.username }}</h1>
            {% if user.userprofile.avatar %}
                <img src="{% thumbnail user.userprofile.avatar 'avatar' %}" alt="Аватар {{ user.username }}" class="mb-3" width="150" height="150">
            {% else %}
                <img src="{% get_static_prefix %}images/placeholder_avatar.png" alt="No Avatar" class="mb-3" width="150" height="150">
            {% endif %}
            {% if user != request.user %}
                {% if user.userprofile in request.user.userprofile.followed_authors.all %}
                    <a href="{% url 'users:unfollow_author' user.id %}" class="button">Відписатися</a>
                {% else %}
                    <a href="{% url 'users:follow_author' user.id %}" class="button">Підписатися</a>
                {% endif %}
                <a href="{% url 'blog:posts' %}?author={{user.id}}" class="button">Переглянути пости автора</a>
            {% else %}
                {% if user_subscription %}
                    <p>Підписка: {{ user_subscription.plan|capfirst }} (активна до {{ user_subscription.end_date }})</p>
                {% else %}
                    <p>У вас немає активної підписки.</p>
                    <a href="{% url 'users:subscribe' %}" class="button">Оформити підписку</a>
                {% endif %}
                <a href="{% url 'users:edit_profile' %}" class="button">Редагувати профіль</a>
                <a href="{% url 'blog:posts' %}?only_followed=True" class="button">Пости відстежуваних авторів</a>
                <a href="{% url 'blog:posts' %}?author={{user.id}}" class="button">Переглянути свої пости</a>
            {% endif %}

            {% if request.user == user %}
                <h3 class="mt-4">Відстежуємі продукти</h3>
                {% for tracked in tracked_products %}
                    <div class="card mb-3">
                        <div class="card-body">
                            <p>
                                <a href="{{ tracked.product.get_absolute_url }}">{{ tracked.product.name }}</a> 
                                - {% if tracked.product.is_available and tracked.product.quantity > 0 %}В наявності ({{ tracked.product.quantity }} шт.){% else %}Немає в наявності{% endif %}
                                <a href="{% url 'shop:track_product' tracked.product.slug %}" class="btn btn-primary btn-sm ms-2">Припинити відстежування</a>
                            </p>
                        </div>
                    </div>
                {% empty %}
                    <p>Відстежуємі продукти відсутні.</p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}