<!DOCTYPE html>
<html lang="uk">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{% block title %}Магазин вінілових платівок{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'shop/css/style.css' %}">
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'shop:index' %}">Головна</a> 
            <a href="{% url 'shop:product_list' %}">Каталог</a>
            <a href="{% url 'blog:posts' %}">Блог</a>
            <a href="{% url 'cart:cart' %}">Кошик</a> 
            {% if user.is_authenticated %}
                <a href="{% url 'users:profile' %} ">Профіль</a> 
                <form action="{% url 'users:logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Вийти</button>
                </form>
            {% else %}
                <a href="{% url 'users:login' %}">Увійти</a> 
                <a href="{% url 'users:register' %}">Зареєструватися</a> 
            {% endif %}
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>