{% extends 'shop/base.html' %}
{% load static thumbnail %}
{% block content %}
<div class="product-detail">
    <div class="row">
        <div class="col-md-4">
            {% if product.image %}
                <img src="{% thumbnail product.image 'detail' %}" alt="{{ product.name }}" class="fluid-thumbnail">
            {% else %}
                <img src="{% get_static_prefix %}images/placeholder.jpg" alt="No Image" class="img-fluid">
            {% endif %}
        </div>
        <div class="col-md-8">
            <h1>{{ product.name }}</h1>
            <p><a href="{% url 'shop:product_list' %}?category={{ product.category.id }}">{{ product.category.name }}</a></p>
            <p>{{ product.description }}</p>
            {% if product.get_discounted_price == product.price %}
                <p>Ціна: {{ product.get_discounted_price }} грн</p>
            {% else %}
                <p>Ціна: <del>{{ product.price }}</del> <b style="color: #F97316;">{{ product.get_discounted_price }} грн (ЗНИЖКА -{{ product.discount }}%)</b></p>
            {% endif %}
            <p>Виробник: <a href="{% url 'shop:product_list' %}?manufacturer={{ product.manufacturer.id }}">{{ product.manufacturer }}</a></p>
            <p>Наявність: {% if product.is_available and product.quantity > 0 %}В наявності ({{ product.quantity }} шт.){% else %}Немає в наявності{% endif %}</p>
            <p>Середній рейтинг: {{ product.rating }}</p>
            {% if product.category.slug == 'vinyl-records' %}
                <p>Виконавець: <a href="{% url 'shop:product_list' %}?artist={{ product.artist.id }}">{{ product.artist }}</a></p>
                <p>Рік випуску: {{ product.release_year }}</p>
                <p>Жанр: {% for genre in product.genre.all %}<a href="{% url 'shop:product_list' %}?genre={{ product.genre.id }}">{{ genre }} </a>{% endfor %}</p>
            {% endif %}
            <div class="mt-3">
                {% if user.is_authenticated %}
                    {% if is_tracked %}
                        <a href="{% url 'shop:track_product' product.slug %}" class="button">Припинити відстежування</a>
                    {% else %}
                        <a href="{% url 'shop:track_product' product.slug %}" class="button">Відстежувати</a>
                    {% endif %}
                {% else %}
                    <a href="{% url 'users:login' %}" class="button">Увійдіть, щоб відстежувати</a>
                {% endif %}
                <a href="{% url 'cart:add_to_cart' product_id=product.id %}" class="button">Додати в кошик</a>
            </div>
        </div>
    </div>

    <hr class="my-5">

    <h3>Відгуки</h3>
    {% if user.is_authenticated %}
        <h4 class="mt-4">{{ existing_review|yesno:"Редагувати відгук,Додати відгук" }}</h4>
        <form method="post" class="card p-4">
            {% csrf_token %}
            {{ review_form.as_p }}
            <button type="submit" class="btn btn-primary">{{ existing_review|yesno:"Зберегти зміни,Надіслати" }}</button>
        </form>
    {% else %}
        <p><a href="{% url 'users:login' %}">Увійдіть</a>, щоб залишити відгук.</p>
    {% endif %}
    {% if product.reviews.exists %}
        {% for review in page_obj %}
            <div class="card mb-3">
                <div class="card-body">
                    <p class="card-text">{{ review.comment }}</p>
                    <p class="card-text">Оцінка: {{ review.rating }}/5</p>
                    <p class="card-text text-muted">Автор: <a href="{% url 'users:profile' %}?user_id={{ review.user.id }}">{{ review.user.username }}</a> | {{ review.created_at|date:"d.m.Y H:i" }}</p>
                </div>
            </div>
        {% endfor %}
        {% if page_obj.has_other_pages %}
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Попередня</a>
                        </li>
                    {% endif %}
                    {% for num in page_obj.paginator.page_range %}
                        <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                        </li>
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Наступна</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    {% else %}
        <p>Відгуки відсутні.</p>
    {% endif %}
</div>
{% endblock %}